BlueMarble_Client/*.vcxproj
BlueMarble_Client/*.filters
BlueMarble_Client/*.user

BlueMarble_Client/Debug

BlueMarble_Server/*.vcxproj
BlueMarble_Server/*.filters
BlueMarble_Server/*.user

BlueMarble_Server/Debug

BlueMarble_MatchMaking_Server/*.vcxproj
BlueMarble_MatchMaking_Server/*.filters
BlueMarble_MatchMaking_Server/*.user

BlueMarble_MatchMaking_Server/Debug